*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: burlywood;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    padding: 10px;
    border: none;
    
}